body{
    background-color: rgb(34,37,75);
}

h1,h2,h3,h4{
    color:rgb(0, 0, 0)
}
#Encabezado{
    padding-left: 5%;
}

#Graficas{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin-left: 35%;
    display: flex;
}

#Histograma{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

#Contenedor_grafica{
    width: 50%;
    align-items: center;
    margin-right: 2%;
}

#Procesos{
    width: 90%;
    margin-left: 5%;
    display: flex;
}

.Tipe_process{
    background-color: rgb(255, 255, 255);
    width: 42%;
    margin-left: 3%;
    border-radius: 10px;
}

#Process_child_space{
    margin-left: 5%;
    width: 80%;
}

#Simbologia{
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
}

p{
    color: rgb(255, 178, 178);
    font-size: 24px;
    background-color: rgb(85, 85, 85);
}

li{
    color:rgb(83, 117, 106);
    font-size: 28px;

}

#Histograma{
    width: 90%;
    margin-left: 5%;
}